.idea/
.vscode/
.DS_Store
.venv/
.build/

__pycache__/
venv/
pyrion.egg-info/*
dist/
build/
/pyrion/pyrion.egg-info/
/pyrion.egg-info/
*.egg-info/
.coverage
.coverage.*
htmlcov/
dev/

uv.lock

*.so
*.o

PYPI_UPLOAD.md
