.idea/
.vscode/
.DS_Store
.venv/
.build/

__pycache__/
venv/
pyrion.egg-info/*
dist/
build/
/pyrion/pyrion.egg-info/
/pyrion.egg-info/
*.egg-info/
.coverage
.coverage.*
htmlcov/
dev/

test_data/hg38.chr22-M-X-Y.fa

*.so
*.o

todo.txt
toga_mini.py
PYPI_UPLOAD.md
